// Colors
$darkCyan: hsl(185, 75%, 39%);
$veryDarkBlue: hsl(229, 23%, 23%);
$darkGrayBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);
$lightGray: hsl(228, 10%, 90%);
$white: hsl(0, 0%, 100%);

// Font Sizes
$font-xsm: 0.6875em; //11px;
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
